<header>
  <nav>
    <div class="c-nav u-container">
      <a href={{"/" | safe}} title="Homepage">Home</a>
      <ul>
        <li><a title="Index page of blog posts" href="/posts">Posts</a></li>
        <li><a title="Today I learnt index page" href="/til">TIL</a></li>
        <li><a title="My Github profile page" href="https://github.com/smcllw/">Github</a></li>
        <li><a title="My twitter profilepage" href="https://twitter.com/samclulow">Twitter</a></li>
        <li><a title="My rss feed" href="/feed.xml">RSS</a></li>
      </ul>
    </div>
  </nav>
</header>

